body {
  background-color: radial-gradient(#000, #111);
  height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.landing-container {
  text-align: center;
  color: black;
  padding: 50px 20px;
}

.landing-container h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.landing-container p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.landing-container ul {
  text-align: left;
  margin-bottom: 30px;
  padding-left: 0;
}

.landing-container li {
  font-size: 1rem;
  margin-bottom: 15px;
  list-style: none;
}

.toggle-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #2196f3;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #0d47a1;
}
